<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register a New Coin</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='registerPage.css') }}">
</head>

<body>
<div style = "overflow:scroll; overflow-y:scroll; overflow-x:hidden;">
  <form class = "box" action = "" method ="post">
    <h1 >Coin Name:</h1>
    <input type = "text" name = "coName"  id="coName" placeholder="Write coin name here"><br><br>
<h1>Coin Ticker:</h1>
    <input type = "text" name = "cTick"  id="cTick" placeholder="Write coin ticker here"><br><br>
    <input type="submit" value="Add">

  </form>
</div>
</body>
</html>