<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='logPage.css') }}">
</head>

<body>
<div>
  <form class = "box" method ="post" action="">
  <label style = "color:white; font-size : 45px;">Aave:{{have[0]}}</label><br>


    <label style = "color:white; font-size : 45px;">Bitcoin:{{have[1]}}</label><br>
   <input type="submit" value="Charts"><br>

    <label style = "color:white; font-size : 45px;">Bitcoin Cash:{{have[2]}}</label><br>


    <label style = "color:white; font-size : 45px;">Chainlink:{{have[3]}}</label><br>

    <label style = "color:white; font-size : 45px;">Cosmos:{{have[4]}}</label><br>


    <label style = "color:white; font-size : 45px;">Etherium:{{have[5]}}</label><br>


    <label style = "color:white; font-size : 45px;">Filecoin:{{have[6]}}</label><br>


    <label style = "color:white; font-size : 45px;">ICP:{{have[7]}}</label><br>


    <label style = "color:white; font-size : 45px;">Nucypher:{{have[8]}}</label><br>


    <label style = "color:white; font-size : 45px;">Origin:{{have[9]}}</label><br>


    <label style = "color:white; font-size : 45px;">Storj:{{have[10]}}</label><br>

  </form>
</div>

</body>
</html>