<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='logpage.css') }}">

</head>
<body>
    <form id = "box" class = "box" action="" METHOD="post">
      <h1>Password Change</h1>
                {% with message = get_flashed_messages() %}
            {% if message %}
                <p style="color:red;font-size:12px;"> Incorrect Name or Password please try again </p>
            {% endif %}
        {% endwith %}
        <h2>Name:</h2>
        <input name="Name" type="text" placeholder="Write your name">
        <h2>New Password:</h2>
        <input name="Password" type="text" placeholder="Write your Password">
        <input type="submit" value="Reset">

    </form>
</body>
</html>